{% extends 'website/base.html' %}
{% load static %}

<!-- Css -->
{% block css %}
{% endblock %}


<!-- Content -->
{% block content %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/graphic.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Graphic Design</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- <div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">


                <div class="services consult-services">
                    <h2>Our Consulting</h2>
                    <p>
                        Our consulting unit covers trainings, conferences, seminars, workshops in areas like
                        information, communication, knowledge management, business development and ICT applications in
                        government, medicine, public service etc. We also engage in management, entrepreneurship,
                        leadership and personal development trainings and consultations.

                        Digital Society Project Africa, (an annual event meant to bring together business leaders,
                        media, captains of industries, IT experts, professionals in diverse disciplines amongst others
                        to brainstorm, explore opportunities and dissolve challenges in information and communication
                        technology as it affects diverse areas as we approach the era of “Global Village”) will soon be
                        launched in Capital City of Nigeria (Abuja).

                        Our professionals are also readily available to offer professional services to our clients
                        especially in areas like information and communication systems, graphic designs, desktop
                        publishing, leadership and business development.

                        We are simply waiting to serve you.</p>

                        <a href="#" class="btn btn-primary consult-btn">Contact Us</a>
                </div>




            </div>
        </div>

    </div>
</div> -->

{% endblock %}

