{% extends 'website/base.html' %}
{% load static %}

<!-- Css -->
{% block css %}
{% endblock %}


<!-- Content -->
{% block content %}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/social%20entrepreneurship.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Social Entrepreneurship</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">


                <div class="services consult-services">
                    <h2>DATUM4D</h2>
                    <p>
                        Datum for Development (Datum4D) is a data technology social enterprise initiative of DreamWorks
                        Systems Solution Limited that leverages on technology-enabled measures to help capture and
                        simplify real time data by focusing on critical sectors of sustainable development goals (SDGs)
                        in Nigeria using mobile apps, social media tools and web applications.
                        <br><br>
                        <b>BACKGROUND</b>
                        <br><br>
                        Following the progress made under the Millennium Development Goals (MDGs), which guided global
                        development efforts from 2000 to 2015, the world resolved that between 2016-2030, SDGs would
                        focus primarily on the fight against extreme poverty, ensuring equitable development,
                        environmental stability, gender balance etc Crucial to its success, there was the need for
                        strong government systems and efficient and effective data collation and reporting systems that
                        can measure and incentivise progress across the goals; this is the birth role of Datum for
                        Development (Datum4D).
                        <br><br>
                        <b> OUR RELEVANCE</b>
                        <br><br>

                        As a member of the Global Partnership for Sustainable Development Data, our organization is up
                        to
                        date with what is obtainable and what other Data Champions are doing all over the world. Our
                        work is
                        also consistently in consonance with the strategies, objectives and key actions of the Global
                        Action
                        Plan for Sustainable Development Data. We are also in partnership with other civil society
                        groups
                        interested In the collection, analysis, verification, aggregation and reporting on sustainable
                        development data around the world.
                        <br><br>


                        <b>OUR FOCUS</b>
                        <br><br>

                        As a data technology organization, we are interested in the entire value chain of data analytics
                        from data capture to storage, from data aggregation to predictive analytics and to the machine
                        learning. The whole idea is to simplify and interpret data generated from critical sectors of
                        sustainable development goals (SDGs) and other development initiatives as achieved in different
                        part of the world.
                        <br><br>



                        <b>DATUM4D & SOCIETY</b>
                        <br><br>

                        Datum4D also encourages citizens’ generated data to monitor and measure development to drive
                        societal change. We are simultaneously making this data open to citizens and encourage citizen’s
                        engagement of government on societal change as well as encourage citizen-generated data that
                        people or their organisations produce to directly monitor, demand or drive change on issues that
                        affect them. This is to provide direct representations of citizen’s perspectives and an
                        alternative to datasets collected by governments or international institutions.

                        Similarly, our organization partners with government and government institutions at all levels.
                        Our function is to provide support to government, check progress reports on developmental issues
                        seen through the eyes of the citizenry and ensure that data collection aligns with the
                        strategies, objectives, and key actions of the Global Action Plan for Sustainable Development
                        Data.




                    </p>

                    <a href="{% url 'contact' %}" class="btn btn-primary consult-btn">Contact Us</a>
                </div>




            </div>
        </div>

    </div>
</div>


{% endblock %}